<h1>List Signature Request</h1>
<%= for {key, value} <- @signature_requests do %>
  <b><%= inspect key %></b>: <%= inspect value %><br>
<% end %>
<p><%= link "Back", to: signature_path(@conn, :index) %></p>
