<h1>List Signature Request</h1>
<%= inspect @list_info %>
<%= for {key, value} <- @list_info do %>
  <b><%= inspect key %></b>: <%= inspect value %><br>
<% end %>
<%= inspect @signature_requests %>


<p><%= link "Back", to: signature_path(@conn, :index) %></p>
