<center><h1>HelloSign on Phoenix!</h1></center>
<ul>
  <li>
    <%= link("Get Account", to: "/account/info") %>
  </li>
  <li>
    Update Account
  </li>
  <li>
    Create Account
  </li>
  <li>
    Verify Account
  </li>
</ul>
